.one-button{
  background-color:green;
  color:white;
  padding-left:12px;
  padding-right:12px;
  border:none;
  transition: padding 0.2s,margin 0.2s;
  cursor:pointer;
  margin-right:10px;
  margin-left:10px;

}
.one-button:hover{
  padding-left:22px;
  padding-right:22px;
  margin-left:0px;
  margin-right:0px;
}
